<div id='form'>
  <div class='container'>
    <div class='content'>
        <h1>New Projet</h1>

        <%= render 'form', projet: @projet %>

        <%= link_to 'Back', projets_path %>
    </div>
    </div>
</div>
