@import "base/var_mixin";

#footer{
  z-index: 9999;
  position: relative;
  .footer{
    position: absolute;
    left:0;
    bottom: 0;
    padding: 30px;
    p{
      font-size: 10px ;
    }
  }
}

