@font-face {
    font-family: 'webfontregular',;
    src: url('fonts/webtype-webfont.woff2') format('woff2'),
         url('fonts/webtype-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face{
  font-family: 'apercu';
  src: url("fonts/apercu-regular-pro.ttf") format('truetype');
    
}

@font-face{
  font-family: 'louize';
  src: url("fonts/LouizeRegular.otf") format('opentype');
    
}