@import "var_mixin";

#preload{
    width: 100%;
    height: 100%;
    background: $color_bg;
    position: fixed;
    top:0;
    left:0;
    z-index:10000;
    .load-frame{
        width: 70px;
        height: 70px;
        top:50%;
        transform: translateY(-50%);
        margin: auto;
        position: relative;
        #loader1 {
            position: absolute;
            border: 5px solid transparent;
            border-radius: 50%;
            width: 70px;
            height:70px;
            border-top:5px solid #F4F0E9;
            border-bottom: 5px solid rgb(109,108,106);
            animation: horloge 1s linear infinite;

        }
        #loader2 {
            position: absolute;
            border: 5px solid transparent;
            border-radius: 50%;
            width: 60px;
            height:60px;
            border-top:5px solid rgb(109,108,106);
            border-bottom: 5px solid #F4F0E9;
            top:5px;
            left:5px;
            animation: antihorloge 1s linear infinite;

        }

    }


}

@keyframes horloge{
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
    }
    @keyframes antihorloge{
        from { transform: rotate(0deg);}
        to { transform: rotate(-360deg);}
        }
