$color_text : #F4F0E9;
$color_bg : #131415;


$police_text : "webfontregular";
$police_second: "apercu";

body{

  background-color: $color_bg;
  background-image: url('/assets/bg.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: none;
  color:$color_text;
  font-family: $police_text;
  user-select: none;

}

h1, h3, h4, a, p{
    font-family: $police_second;
    color:$color_text;
}

h2 {
    font-family: $police_text;
    color:$color_text;
    text-transform: uppercase;
    font-size: 17px;
}

.text_gris{
    opacity: 0.5;
  }

h3, p{
    font-size: 16px;
}

a:visited{
  color: inherit;
}

