
<div id='footer'>
    <div class= "footer">
    <p>© 2019 design by <a href ="https://valentinlachayze.com/">Valentin Lachayze</a></p>
    </div>
    <div class="linking">
        <a href="https://github.com/LudoPyt">Github</a>
        <a href="https://www.linkedin.com/in/ludovic-pouyaut-475082163/">LinkedIn</a>
    </div>
</div>