<div id=header>
  <div class= 'header'>
    <%= link_to root_path do %>
      <h2>Ludovic Pouyaut</h2>
    <% end %>  
    <div class="btn-menu">
      <h3 class="text-right text-md-left"id="appear">Menu</h3>
    </div>
  </div> 
<div>
