<div id="a_propos">
  <div class= "container">
    <div class="row content">
      <div class="col-8">
        <div class= "row">
          <div class="col-12 me ">
            <h1>QUI SUIS-JE ?</h1>
            <p>Je m’appelle Ludovic Pouyaut, 26 ans et bien portant. Je suis un étudiant en développement Web et communication numérique à l’IUT Bordeaux Montaigne.
              J’ai travaillé dans l’industrie avant de trouver un sens à ma vie. Je souhaite devenir Développeur Fullstack avec le ciel comme seule limite.
               Tout comme Christophe Colomb, je n’ai pas peur de partir à la découverte de nouvelles horizons. </p>
          </div>


          <div class="col-6 propos_detail">
            <h2>Études</h2>

              <h3>DUT Métiers du Multimédia et de l'Internet</h3>
              <h3 class="mb-2"><span class="text_gris">2017-Aujourd'hui<br>IUT Bordeaux Montaigne</span></h3>


              <h3>BTS Industrialisation de Produits Mécaniques</h3>
            <h3 class="mb-2"><span class="text_gris">  2011-2013<br>CFAI de Tarbes en alternance</span></h3>


              <h3>BAC Sciences et Technologies de l'Ingénieur</h3>
              <h3 class="text_gris">Option Génie Mécanique</h3>
            <h3 class="mb-2"><span class="text_gris">  2009-2011<br>Lycée Louis de Foix à Bayonne</span></h3>
            </div>
          <div class="col-6 propos_detail">
            <h2>Expériences</h2>
            <h3>Développeur FullStack</h3>
             <h3 class="mb-2"><span class="text_gris"> Agence MIHIVAI | 18 Juin - 27 Juillet 2018</span></h3>


            <h3>Programmeur / Opérateur CN</h3>
            <h3 class="mb-2"><span class="text_gris">  Intérim chez Dassault Aviation et Mécalandes| 2015-2017</span></h3>


            <h3>Opérateur Commandes Numériques</h3>
            <h3 class="mb-2"><span class="text_gris">  Drillstar Industries | 2013-2015</span></h3>

            <h2>Compétences</h2>
            <h3>Wordpress, Ruby on Rails, Javascript, HTML, CSS, SASS,<span class="text_gris"> Photoshop, Illustrator, Indesign, Unity, C#, Swift</span></h3>
          </div>

        </div>
      </div>
      <div class="col-4 my_img">

        <%=image_tag("moi_photo.jpg", :alt => "Ludovic Pouyaut")%>

      </div>
    </div>
  </div>
</div>
