/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "base/police";
@import "base/var_mixin";
@import "base/preload";
@import "site/header";
@import "site/footer";
@import "site/hold_drag";
@import "site/homepage";
@import "site/a_propos";
@import "site/contact";
@import "site/projets";
@import "site/form";




  #menu_home{
     display: none;
     position:fixed;
     top: 0;
     left: 0;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100vw;
     height: 100vh;
     background-color: none;
     .menu_detail_home{
       visibility: hidden;
       width: 80%;
       display: flex;
       &:hover{
         a{
           transition: 0.5s ease-in-out;
           color:$color_bg;
         }
         .menu_p{
           p{
             transition: 0.5s ease-in-out;
             opacity: 1;
           }
         }
       }
       a{
         font-size: 75px;
         font-family: $police_second;
         text-transform: none;
         -webkit-user-select: none;
         transition: 0.5s ease-in-out;
         text-decoration: none;
         -webkit-text-stroke: 1px $color_text;
           text-stroke: 1px $color_text;

       }
       .menu_p{
         position: relative;
         p{
           transition: 0.5s ease-in-out;
           opacity: 0.5;
           white-space: nowrap;
           position:absolute;
           top:50%;
           left:20px;
           transform: translateY(-50%);
           font-family: 'Poppins';
           font-size: 13px;

          }
       }
     }
   }

@media screen and (max-width: 500px) {
  body{
    overflow: hidden;
  }
  .sayhello h1 {
    font-size: 40px;
  }
    #appear{
      padding-right:0;
    }
    #footer{
      .linking{
        text-align: right;
        a{
          padding: 5px 0 0 0;
          display: block;
        }
  
      }
    }
    
}
