@import "base/var_mixin";

#all_projet{
    .container{
        .content{
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            justify-content: center;

            .structure{
                position:relative;
                .all_img{
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%, -50%);
                    width: 600px;
                    height: 350px;
                    img {
                      width: 100%;
                      height: 100%;
                    }
                }
                .all_detail{
                    opacity: 0;
                    border: 1px solid $color_text;
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%, -50%);
                    padding: 30px;
                    width: 600px;
                    height: 350px;
                    .resize{
                        
                        width: 100%;
                        height:auto;
                        h1{
                            color:transparent;
                            -webkit-text-stroke: 1px $color_text;
                            text-stroke: 1px $color_text;
                        }
                        h2{
                            font-size: 15px;
                        }
                        h3{
                            opacity: 0.8;
                        }
                        a{
                           color: $color_text;
                        }
                        .link_projet{
                            padding-left: 15px;
                            padding-top: 15px;
                            a{
                                font-size: 25px;
                                position: relative;
                                color: $color_text;
                                &:before{
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-45%);
                                    left:-30px;
                                    content:url('arrow.png');
                                  }
                            }
                        }
                    }

                }
            }
        }
    }
}
