@import "base/var_mixin";
.ariane{
    z-index: 9999;
    position: fixed;
    left:0;
    top:50%;
    transform: translate(-25%,-50%) rotate(-90deg);
    

    a{
        font-size: 13px;
        font-family: $police_text;
        opacity: 0.5;
        transition: 0.25s ;
        display:inline-block;
        &:hover{
        opacity: 1;
        transition:0.25s;
        transform: scale(1.1);
        text-decoration: none;
        }
    }

}