@import "base/var_mixin";

#contact{
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;


    & .row {
      justify-content: center;
    }
    h1{
      text-align: center;
      padding: 40px;

    }
    input {
      background: none;
      color: $color_text;
      border-width: 0 0 1px 0;
      border-style: solid;
      border-radius: 0;
      font-family: $police_second;
      font-size: 30px;
      &:focus{
        box-shadow: none;
        border-color: $color_text;
      }
    }
    label{
      opacity: 0.5;
      font-size: 10px;
    }
    textarea.form-control{
      background: none;
      color: $color_text;
      border-width: 0 0 1px 0;
      border-style: solid;
      border-radius: 0;
      font-family: $police_second;
      font-size: 20px;
      resize: none;
      &:focus{
        box-shadow: none;
        border-color: $color_text;
      }
    }

    .spam{
      display: inline-block;
      position: relative;
      left:50%;
      transform: translateX(-50%);
      input{
        border: none;
        font-size: 25px;
      }
      &:before{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left:-30px;
        content:url('arrow.png');
      }
    }

  }
}
