@import "base/var_mixin";

#footer{
  z-index: 9000;
  position: relative;
  .footer{
    position: absolute;
    left:0;
    bottom: 0;
    padding: 30px;
    p{
      font-size: 10px ;
      margin: 0;
    }
  }
  .linking{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 30px;
    a{
      display: inline;
      padding: 20px 50px;
      font-size: 10px;
      font-family: $police_text;
        &:hover{
            color: $color_text;
        }
    }
  }
}

