// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base/var_mixin";

body{
  background-color: $color_bg;
  color:$color_text;
  font-family: $police_text;

  .drag_cursor{
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 1px $color_text;
    background-color: none;

    img {
      opacity: 0;
      user-select: none;
      position: absolute;
      left: 50%;
      top: 130%;
      transform: translateX(-50%);
      width: 8px;
      height: 8px;
    }
      }

  .menu{


     z-index: 100;
     position:fixed;
     top: 0;
     left: 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100vw;
     height: 100vh;
     background-color: none;
     .menu_detail{
      visibility: hidden;
       width: 80%;
       display: flex;
       &:hover{
         a{
           transition: 0.5s ease-in-out;
           color:$color_bg;
         }
         .menu_p{
           p{
             transition: 0.5s ease-in-out;
             opacity: 1;
           }
         }
       }
       a{
         font-size: 75px;
         font-family: $police_second;
         text-transform: none;
         -webkit-user-select: none;
         transition: 0.5s ease-in-out;
         text-decoration: none;
         -webkit-text-stroke: 1px $color_text;
           text-stroke: 1px $color_text;

       }
       .menu_p{
         position: relative;
         p{
           transition: 0.5s ease-in-out;
           opacity: 0.5;
           white-space: nowrap;
           position:absolute;
           top:50%;
           left:20px;
           transform: translateY(-50%);
           font-family: 'louize';
           font-size: 13px;

          }
       }
     }
   }

  .sayhello{

    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    p{
      transition: 0.5s ease-in-out;
      opacity: 0.5;
      white-space: nowrap;
      position:absolute;
      top:75%;
      right:25%;
      transform: translateY(-50%);
      font-family: 'louize';
      font-size: 13px;
      &:hover{
        transition: 0.5s ease-in-out;
        opacity: 1;
        cursor: pointer;
      }

     }
    h1{
      font-size: 55px;
      -webkit-user-select: none;
      .effect_border{
        color:$color_bg;
        -webkit-text-stroke: 1px $color_text;
        text-stroke: 1px $color_text;
      }
    }

    .hold_drag{
      position: relative;
      left:-5%;
      transform: translate(-50%,-50%);

      .barre{
        height: 300px;
        position:absolute;
        width: 1px;
        background-color: rgba(244,240,217,.5);
        top: 50%;
        transform: translateY(-50%);

        .rempli{
          background-color: rgba(244,240,217,1);
          opacity:1;
          width: 1px;
          height: 10%;
          position: absolute;
          bottom: 0;
          left: 0;

        }

      }
    }
  }
}
