@import "base/var_mixin";

#details{
    .container{
      width: 75%;
      margin-bottom: 40px;
      .content{
        min-height: 85vh;
        align-content: center;
        h2{
          font-size: 17px;

        }
      a{
        color: $color_text;
      }

        .projet_head{
          h1{
            font-size: 50px;
            padding-bottom: 10px;
  
          }
          .link_site{
            display: inline-block;
            position: absolute;
            right:0;
            top:15%;
            font-size: 20px;
            &:before{
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left:-30px;
              content:url('arrow.png');
            }
          }
        }
   }
      .projet_img{
        justify-content: flex-end;
        img {
          width: 400px;
          height: auto;
          padding: 20px;
        }
        .link_before{
          display: inline-block;
          position: relative;
          right:0;
          top:0;
          font-size: 15px;
          padding: 30px;
          a{
          text-align: left;
          margin-left: 25px;
          color: $color_text;
          font-size: 20px;
          }
        &:before{
          position: absolute;
          top: 45%;
          transform: translateY(-50%) rotate(180deg);
          left:25px;
          content:url('arrow.png');
        }
      }
        .link_after{
          display: inline-block;
          position: relative;
          right:0;
          top:0;
          font-size: 15px;
          padding: 30px;
          a{
          display: block;
          text-align: right;
          margin-right: 25px;
          color: $color_text;
          font-size: 20px;
          }
        &:after{
          position: absolute;
          top: 51%;
          transform: translateY(-50%);
          right:25px;
          content:url('arrow.png');
        }
      }
    }
  }
}
